<web-app>
<servlet>
<servlet-name>checkstud</servlet-name>
<servlet-class>checkstud</servlet-class>
</servlet>
<servlet>
<servlet-name>adch</servlet-name>
<servlet-class>adch</servlet-class>
</servlet>
<servlet>
<servlet-name>formch1</servlet-name>
<servlet-class>formch1</servlet-class>
</servlet>
<servlet>
<servlet-name>formch</servlet-name>
<servlet-class>formch</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>checkstud</servlet-name>
<url-pattern>/checkstud</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>formch</servlet-name>
<url-pattern>/formch</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>formch1</servlet-name>
<url-pattern>/formch1</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>adch</servlet-name>
<url-pattern>/adch</url-pattern>
</servlet-mapping>

</web-app>