/* Global Structure ============================================================= */
.container {
	position: relative;
	width: 1010px;
        margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

	/*Gallery*/
	#gallery {
		height:310px;
		overflow:hidden;
		
	}
	
	/*===== gallery =====*/
.roundabout-holder  { 
	width:750px;
	height:310px;
	margin:0 auto;
}
.roundabout-moveable-item {
   width: 530px;
   height: 257px;
   cursor: pointer;
	 border:3px solid #ccc;
	 border:3px solid rgba(0, 0, 0, 0.08);
   border-radius:4px;
	 -moz-border-radius:4px;
	 -webkit-border-radius:4px;
}
	.roundabout-moveable-item img{
		width:100%;
	}
.roundabout-in-focus {
	border:3px solid rgba(0, 0, 0, 0.2);
}


